body{
	background-color:black;
}

div#wrapper {
	margin:0 auto;
	width:980px;
	height:500px;
	margin-top:250px;	
/*	border:1px solid blue;*/
}

div#main {
	height:250px;
	width: 17px;
	float:left;
}

div#main_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(77deg); /* IE 9 */
    -webkit-transform: rotate(77deg); /* Safari */
    transform: rotate(77deg); /* Standard syntax */
}


div#main0 {
	height:250px;
	width: 27px;
	float:left;
	/*border:1px solid blue;*/
	margin-top: 3px;

}

div#main0 span.first_additional{
	background-color:red;
	width:0px;
	height:5px;
	margin-left:0px;	
}

div#main span.first{
	background-color:red;
	width:0px;
	height:5px;
	margin-left:0px;	
}

div#main1 {
	height:250px;
	width: 28px;
	float:left;
}

div#main1_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(-77deg); /* IE 9 */
    -webkit-transform: rotate(-77deg); /* Safari */
    transform: rotate(-77deg); /* Standard syntax */
}

div#main2 {
	height:250px;
	width: 54px;	
	float:left;
	margin-top: -90px;
}

div#main2_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(75deg); /* IE 9 */
    -webkit-transform: rotate(75deg); /* Safari */
    transform: rotate(75deg); /* Standard syntax */
}
 
div#main3 {
	height:250px;
	width: 44px;
	float:left;
	margin-top: 94px;
}

div#main4 {
	height:250px;
	width: 31px;
	float:left;
	margin-top: -181px;
}

div#main4_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(82deg); /* IE 9 */
    -webkit-transform: rotate(82deg); /* Safari */
    transform: rotate(82deg); /* Standard syntax */
}


div#main4 span.fifth {
	background-color:red;
	height:5px;
	width:0px;
}


div#main3_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(-80deg); /* IE 9 */
    -webkit-transform: rotate(-80deg); /* Safari */
   transform: rotate(-80deg); /* Standard syntax */
}

div#main5 {
	height:250px;
	width: 47px;
	float:left;
	margin-top: 27px;
}
}


div#main5_rotate {
	transform-origin:left bottom;
	-ms-transform: rotate(-82deg); /* IE 9 */
    -webkit-transform: rotate(-82deg); /* Safari */
    transform: rotate(-82deg); /* Standard syntax */
}

div#main5 span.sixth {
	background-color:red;
	height:5px;
	width:0px;
	
}
div#main3 span.fourth {
	background-color:red;
	height:5px;
	width:0px;
}

div#main1 span.second{
	background-color:red;
	height:5px;
	width:0px;
	margin-top: 54px;
}
div#main2 span.third {
	background-color:red;
	height:5px;
	width:0px;
	
}

div#innerwrapper  {
/*	border:1px solid orange;*/
}

span {
	border-radius:9px;
	box-shadow: 8px 2px 15px red;	
	
}


.click {
	border-radius:none;
	box-shadow: none;
	color:red;
	font-size:16px;

}

div#text {
	margin-left: 225px;
	position: absolute;
}

div#circle {
	
	width:2px;
	height:2px;
	border-radius:100%;
	background-color:red;
	margin:3px;
	float:right;
	margin-top: 14px;
	
}
div#circles {
	width:25px;
	height: 18px;
	/*border:1px solid blue;*/
	float:right;
	
}

.red {
	background-color: red;
}
